.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 60px;
  width: 100%;
  max-width: 800px;
  height: 90%;
  max-height: 600px;
  background-color: #FFF;
}

.popup-inner .close-btn{
position: absolute;
background-color:  #FFF  !important;
color: #000000  !important;
top: 16px;
right: 16px;
}