.thumbnail {
  max-width: 100%;
}
#search{
margin-top:25px;
margin-bottom: 25px;
}
#searchField{
 width: 80%;
 height: 40px;
 fontSize: 20px;
 textAlign: center;
 margin: 0 auto;
 }
button {
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.hover-effect {
opacity: 1;
transition: opacity 0.3s ease-in-out;
}

.hover-effect:hover {
  opacity: 0.5;
  filter: brightness(50%);
}
.image-container {
  position: relative;
  display: inline-block;
  opacity: 1;
}


.add-button {
  position: absolute;
  margin-right: 10px;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: black;


}

.image-container:hover .add-button {
  opacity: 1;
}

.eye-button {
  position: absolute;
  top: 50%;
  left:55%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: black;
}
.image-container:hover .eye-button {
  opacity: 1;
}

.dollar-button-1{
 position: absolute;
  top: 50%;
  left:70%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: black;
}
.image-container:hover .dollar-button-1{
  opacity: 1;
}

.mobile-add-button {
  display: none;
}
.mobile-eye-button {
  display: none;
}
.mobile-buttons {
    display: none;
  }
.dollar-button-2{
display: none;
}





@media only screen and (max-width: 767px) {
  .add-button {
    display: none;
  }
  .eye-button {
      display: none;
    }
    .dollar-button-1{
    display: none;
    }
    .mobile-eye-button {
        display: block;
        color: black;
      }
       .dollar-button-2 {
              display: block;
              color: black;
            }

  .mobile-add-button {
    display: block;
    color: black;
  }
   #viewDetails {
      margin-right: 2px;
    }

      .mobile-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
      }
}